<main>
  <section class="form__card flex">
    <h4 class="form__card-title">Se Connecter A Noisy</h4>
    <button class="facebook-login__button flex">
      <i class="ri-facebook-fill"></i>
      <span>Se Connecter Avec Facebook</span>
    </button>


    <button class="apple-login__button flex">
      <i class="ri-apple-fill"></i>
      <span>Se Connecter Avec Apple</span>
    </button>

    <div class="form-divider flex">
      <div class="form_divider-item">.</div>
      <div class="form_divider-item-text">Ou</div>
      <div class="form_divider-item">.</div>
    </div>
    <form action="" class="form__login">
      <div class="form__group">
        <label >Email</label>
        <input type="email" placeholder="Email">
      </div>
      <div class="form__group">
        <label >Mot de Passe</label>
        <input type="password" placeholder="Mot de Passe">
      </div>
      <div class="form__group">
        <button type="submit" class="form__button">Se connecter</button>
      </div>
      <p>En t'inscrivant, tu acceptes les Conditions d'utilisation de Noisy, y compris les Conditions supplémentaires et la Politique de confidentialité.</p>
      <div class="">
        <a [routerLink]="'/auth/mot-de-passe-oublie'" class="forgot__password">Mot de Passe Oublié ?</a>
      </div>
      <div class="">
        <a [routerLink]="'/auth/s-inscrire'" class="forgot__password">Tu n’as pas de compte ? S'inscrire?</a>
      </div>
    </form>
  </section>
</main>
