<main class="about-us-page" >

  <section class="mt-4  about-us  ">
    <div class="about-us-video ">

      <video src="https://cdn.cameo.com/static/assets/AboutCameo_FullEdit_v06output.mp4" autoplay muted loop></video>

      <div class="about-us-text mt-1">
        <h1 class="mt-1">Cameo is where you connect with your favorite stars</h1>
        <p class="mt-1">Access thousands of celebrities and request a personalized video message for any occasion.</p>
        <button class="btn w-full">voir les talents</button>
      </div>


    </div>
  </section>
  <section class="about-us-how-it-works about-us ">
    <section class="container  mt-1">
      <h2 class="text-center">How it works</h2>
      <div class="mt-4 about-us-how-it-works-element">
        <img class="mt-1 about-us-how-it-works-img" src="https://cdn.cameo.com/static/assets/search-for-a-start-mobile.png" alt="">
        <div class="about-us-how-it-works-content ">
          <div class="about-us-how-it-works-content--icon">
            1 SEARCH FOR A STAR
          </div>
          <div class="about-us-how-it-works-content--text mt-1">
            <h2 class="mt-1">Find the right celeb for any occasion</h2>
            <p class="mt-1">Birthdays, milestones, or even a well-deserved roast, the perfect celebrity is only a search away. Find yours and request them.</p>
          </div>
        </div>
      </div>
      <div class="mt-4 about-us-how-it-works-element">
        <img class="mt-1 about-us-how-it-works-img" src="https://cdn.cameo.com/static/assets/search-for-a-start-mobile.png" alt="">
        <div class="about-us-how-it-works-content ">
          <div class="about-us-how-it-works-content--icon">
            2 SEARCH FOR A STAR
          </div>
          <div class="about-us-how-it-works-content--text mt-1">
            <h2 class="mt-1">Find the right celeb for any occasion</h2>
            <p class="mt-1">Birthdays, milestones, or even a well-deserved roast, the perfect celebrity is only a search away. Find yours and request them.</p>
          </div>
        </div>
      </div>
      <div class="mt-4 about-us-how-it-works-element">
        <img class="mt-1 about-us-how-it-works-img" src="https://cdn.cameo.com/static/assets/search-for-a-start-mobile.png" alt="">

        <div class="about-us-how-it-works-content ">
          <div class="about-us-how-it-works-content--icon">
            3 SEARCH FOR A STAR
          </div>
          <div class="about-us-how-it-works-content--text mt-1">
            <h2 class="mt-1">Find the right celeb for any occasion</h2>
            <p class="mt-1">Birthdays, milestones, or even a well-deserved roast, the perfect celebrity is only a search away. Find yours and request them.</p>
          </div>
        </div>
      </div>

    </section>
  </section>
  <section class="about-us-banner" >
    <img src="https://cdn.cameo.com/static/assets/questionnaire-bg.png">
    <div class="about-us-banner-context mt-4">
      <h2 class="mt-1">Find your Cameo match</h2>
      <p class="mt-1">From birthdays to graduations to “just because,” the perfect gift is a tap away.</p>
      <button class="btn w-full">voir les talents</button>
    </div>
  </section>
  <div class="about-us">
    <h2 class="text-center">Explore all products</h2>
    <div class="about-us-pub mt-4">
      <img src="https://cdn.cameo.com/static/assets/img-fan-clubs.png" alt="">
      <div class="about-us-pub-content">
        <span>Fees</span>
        <h2 class="mt-1">Fan Clubs</h2>
        <h4 class="mt-1">Get exclusive access to your favorite celebs and their content.</h4>
        <div class="mt-1">
          <p class="about-us-pub-content-item-li">
            <i class="ri-thumb-up-line"></i>
            Insider access to special promotions
          </p>
          <p class="about-us-pub-content-item-li">
            <i class="ri-star-line"></i>
            Insider access to special promotions
          </p>
          <p class="about-us-pub-content-item-li">
            <i class="ri-flashlight-fill"></i>
            Insider access to special promotions
          </p>
        </div>
      </div>
    </div>

  </div>
</main>
