<main>
  <section class="rgpd">
    <h2>Condition Générales d'Utilisation</h2>
    <h4 class="mt-1">1. Préambule</h4>
    <p class="mt-1">
      Le service Vidoleo fourni par la SAS VIDOLEO repose sur la Plateforme vidoleo.com et permet au Client de demander à des Idoles référencées sur cette dernière des Vidéos personnalisées.
      <br><br>
      Toute commande sur la Plateforme précitée suppose la consultation, la compréhension et l’acceptation des présentes conditions générales.
      <br><br>
      Le Client déclare et reconnaît avoir pris le temps nécessaire et disposer des compétences requises pour apprécier la pertinence de l’utilisation du service Vidoleo conformément à ses besoins. Le Client dispose de la faculté de sauvegarder et d’imprimer les présentes conditions générales de vente en utilisant les fonctionnalités standards de son navigateur ou de son ordinateur.
    </p>

  </section>
</main>
