<main>
  <div class="breadcrumb container">
    <a [routerLink]="['/']">Home</a>
    <span> / </span>
    <a [routerLink]="['/categories']">Celebrities</a>
    <span> / </span>
    <a [routerLink]="['/']">Presentation</a>
    <span> / </span>
    <a href="#">Author</a>
  </div>
  <div class="container ">
    <div class="celebrity">
        <swiper class="celebrity-videos" [config]="config">
          <div class="celebrity-videos-container swiper-wrapper">
            <div class="swiper-slide celebrity-videos-response">
              <img class=" video-item" src="assets/img/1.jpg" alt="">
              <i class="video-item-play ri-play-circle-line"></i>
              <i class="video-item-volume ri-volume-down-line"></i>
            </div>
            <div class="swiper-slide celebrity-videos-response">
              <img class=" video-item" src="assets/img/2.jpg" alt="">
              <button>
                <i class="video-item-play ri-play-circle-line"></i>
              </button>
              <button type="submit">
                <i class="video-item-volume ri-volume-down-line"></i>
              </button>
            </div>
            <div class="swiper-slide celebrity-videos-response">
              <img class=" video-item" src="assets/img/3.jpg" alt="">
              <i class="video-item-play ri-play-circle-line"></i>
              <i class="video-item-volume ri-volume-down-line"></i>
            </div>
          </div>
        </swiper>
      <div class="celebrity-details-container">
        <div class="celebrity-details">
          <div class="celebrity__card  flex">
            <div class="celebrity__card-author">
              <div class="celebrity__card-author-name">
                <h2>Pascal Le Grand Frère</h2>
              </div>
              <div class="celebrity__card-author-title">
                <span>Personnalité TV</span>
              </div>
            </div>
            <img class="celebrity__card-author-img"  src="assets/img/1.jpg" alt="">
          </div>
          <div class="celebrity__context flex">
            <div class="flex">
              <div class="celebrity__context-rating flex">
                <i class="ri-star-fill"></i>
                <span>(71)</span>
              </div>
              <div class="celebrity__context-verify flex" >
                <i class="ri-checkbox-circle-fill"></i>
                <span>Voir les avis</span>
              </div>
            </div>
            <div class="">
              <div class="celebrity__context-flash flex">
                <i class="ri-flashlight-fill"></i>
                <span>Livraison 24H disponible</span>
              </div>
            </div>
          </div>
          <div class="celebrity__content-author-context">
            Coucou c'est Elodie Costa de The Voice 10 🎤  Je suis ici sur Vidoleo pour répondre à vos demandes de dédicaces dans la joie et toujours avec le sourire car oui Elodie aime sourire à la vie 😃
            <br><br>
            Je peux même vous chanter une petite chanson si vous le souhaitez ✨
            <br><br>
            J'ai à mon actif deux singles<br>
            " Mélodie"  et "baisse pas les bras" dont le clip vient de sortir sur YouTube. Hésitez pas à le regarder
          </div>
        </div>
        <div class="book__buttons flex">
          <a [routerLink]="['/client/booking']" class="book__buttons-item-button">
            Demander une vidéo 10.000 FCFA
          </a>
          <a [routerLink]="['/client/booking']" class="book__buttons-item-button">
            Je suis une entreprise 100.000 FCFA
          </a>
        </div>
        <div class="promotion-text">
          <p>Commande maintenant et reçois ta vidéo avant demain 11h00 ⏰</p>
        </div>

      </div>
    </div>

    <div class="celebrity-how-it-works">
      <div class="celebrity-how-it-works-swiper">
        <div class="celebrity-request-content">
          <swiper [config]="howItWorksCelebrity">
            <div class="swiper-wrapper">
              <div class="swiper-slide celebrity-how-it-works-item">
                <div class="celebrity-how-it-works-item-title flex">
                  <i class="ri-edit-box-line"></i>
                  <h3>100% personnalisé</h3>
                </div>
                <div class="celebrity-how-it-works-item-content">
                  La célébrité va suivre tes instructions et te faire une vidéo sur mesure
                </div>
              </div>
              <div class="swiper-slide celebrity-how-it-works-item">
                <div class="celebrity-how-it-works-item-title flex">
                  <i class="ri-lock-fill"></i>
                  <h3>Paiement Sécurisé</h3>
                </div>
                <div class="celebrity-how-it-works-item-content">
                  Nous utilisons le cryptage SSL/TLS pour des paiements en toute sécurité
                </div>
              </div>
              <div class="swiper-slide celebrity-how-it-works-item">
                <div class="celebrity-how-it-works-item-title flex">
                  <i class="ri-money-dollar-box-line"></i>
                  <h3>Remboursement Garanti</h3>
                </div>
                <div class="celebrity-how-it-works-item-content">
                  Si la célébrité ne répond pas, tu seras immédiatement remboursé
                </div>
              </div>
              <div class="swiper-slide celebrity-how-it-works-item">
                <div class="celebrity-how-it-works-item-title flex">
                  <i class="ri-phone-line"></i>
                  <h3>Service Après Vente</h3>
                </div>
                <div class="celebrity-how-it-works-item-content">
                  Besoin d'aide ? Nous sommes à ton service 7 jours sur 7
                </div>
              </div>
            </div>
          </swiper>
        </div>
      </div>
    </div>

    <div class="celebrity-feedbacks">
      <div class="celebrity-feedbacks-title flex">
        <div class="celebrity-feedbacks-title-item flex">
          <h4>Derniers Avis</h4>
          <i class="ri-checkbox-circle-fill"></i>
        </div>
        <div class="celebrity-feedbacks-see-all">
          Voir tous les avis
        </div>
      </div>
      <div class="celebrity-feedbacks-content">
        <div class="celebrity-feedbacks-item flex">
          <div class="celebrity-feedbacks-item-stars flex">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-half-line"></i>
          </div>
          <h4>Par Lino et D**** - 28 août 2022</h4>
          <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
        </div>
        <div class="celebrity-feedbacks-item flex">
          <div class="celebrity-feedbacks-item-stars flex">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
          </div>
          <h4>Par Lino et D**** - 28 août 2022</h4>
          <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
        </div>
      </div>
      <div class="celebrity-categories ">
        <div class="celebrity-categories-title">
          <h4>Catégories Associées</h4>
        </div>
        <div class="celebrity-categories-items flex">
          <div class="celebrity-categories-item flex">
            <i class="ri-search-line"></i>
            <span>Chanteuse</span>
          </div>
          <div class="celebrity-categories-item flex">
            <i class="ri-search-line"></i>
            <span>En Vedette</span>
          </div>
          <div class="celebrity-categories-item flex">
            <i class="ri-search-line"></i>
            <span>TikTok</span>
          </div>
          <div class="celebrity-categories-item flex">
            <i class="ri-search-line"></i>
            <span>The Voice</span>
          </div>
        </div>
      </div>
    </div>

    <div class="celebrity-request-step">
      <div class="celebrity-request-step-title">
        <h4>Comment ça marche ?</h4>
      </div>
      <div class="celebrity-request-content">
        <swiper [config]="celebrityRequestContentSteps">
          <div class="swiper-wrapper">
            <div class="celebrity-request-content-item swiper-slide">
              <div class="celebrity-request-content-item-header flex">
                <div class="celebrity-request-content-item-header-title">
                  <h4>1. Choisis ta célébrité</h4>
                </div>
              </div>
              <div class="celebrity-request-content-item-content">
                <p>Commande en quelques clics et reçois ta dédicace vidéo personnalisée de Laurent Paganelli sous 7 jours.                             </p>
              </div>
            </div>
            <div class="celebrity-request-content-item swiper-slide">
              <div class="celebrity-request-content-item-header flex">
                <div class="celebrity-request-content-item-header-title">
                  <h4>2. Obtiens ta vidéo</h4>
                </div>
              </div>
              <div class="celebrity-request-content-item-content">
                <p>
                  Dès que ta vidéo sera disponible, nous t'enverrons le lien de téléchargement par email.                             </p>
              </div>
            </div>
            <div class="celebrity-request-content-item swiper-slide">
              <div class="celebrity-request-content-item-header flex">
                <div class="celebrity-request-content-item-header-title">
                  <h4>3. Le cadeau idéal</h4>
                </div>
              </div>
              <div class="celebrity-request-content-item-content">
                <p>
                  Que ce soit pour toi ou un proche, obtiens un moment unique et un souvenir inoubliable.                            </p>
              </div>
            </div>
          </div>
        </swiper>
      </div>


      <!--    FEATURED AUTHORS-->
      <section class="container authors">
        <div class="flex container authors__category" >
          <div class="authors__category-title">
            De la même categorie
          </div>
          <div class="authors__category-title-buttons flex">
            <a class="authors__category-title-buttons-title" [routerLink]="['/categories']">
              Voir tous
            </a>
            <div class="authors__category-title-buttons-icons flex">
              <div class="button-prev">
                <i class="pagination-icon ri-arrow-left-s-line"></i>
              </div>
              <div class="button-next">
                <i class=" pagination-icon ri-arrow-right-s-line"></i>
              </div>
            </div>
          </div>
        </div>
        <swiper [config]="otherAuthorCon">
          <div class="authors_container swiper-wrapper">
            <creator-card class="swiper-slide" *ngFor="let creator of creators" [creator]="creator"></creator-card>
          </div>
        </swiper>
      </section>

      <!--    -->
    </div>
  </div>

</main>
