<main>
  <section class="rgpd">
    <h2>Règlement général sur la protection des données</h2>
    <h4 class="mt-1">1. Dispositions générales</h4>
    <p class="mt-1">Le Règlement (EU) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement de données à caractère personnel et à la libre circulation de ces données, autrement appelé le Règlement général sur la protection des données (ci-après RGPD) fixe le cadre juridique applicable aux traitements de données à caractère personnel.</p>
    <br>
    <p class="mt-1">Le RGPD renforce les droits et les obligations des responsables de traitements, des sous-traitants, des personnes concernées et des destinataires des données.</p>
    <p>Pour une bonne compréhension de la présente politique il est précisé que :</p>
    <ul class="mt-1 ">
      <li>    Les Clients sont entendus comme toutes personnes physiques ou morales, engagées au titre des conditions générales de services auprès de VIDOLEO ;

      </li>
      <br>
      <li>
        Les Utilisateurs sont entendus comme toute personne physique utilisatrice de la Plateforme, qu’ils soient client ou non de VIDOLEO, dont les contacts ont été collectés directement via des formulaires sur le site vidoleo.com (ci-après le « Site »), via des événements ou indirectement via tout partenaire de VIDOLEO.
      </li>
    </ul>
  </section>
</main>
