<main>
  <section class="mention__legale">
    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site Vidoleo.com les informations suivantes :</p>
    <div class="mention__legale-item">
      <h5 class="mention__legale-item-title mt-1">ÉDITEUR</h5>
      <p class="mt-1">Le site Vidoleo.com est la propriété exclusive de la SAS VIDOLEO, qui l'édite et qui est responsable de la commercialisation des vidéos des idoles.

        VIDOLEO
        <br><br>
        8 IMPASSE DU VIEUX CHENE
        <br><br>
        38280 JANNEYRIAS
        <br><br>
        FRANCE
        <br><br>
        SIRET : 893 501 783 00011
        <br><br>
        Le créateur, responsable publication et webmaster sont une personne morale.
        <br><br>
        Créateur : VIDOLEO
        <br><br>
        Responsable publication : VIDOLEO
        <br><br>
        Webmaster : VIDOLEO
        <br><br>
        Numéro TVA intracommunautaire : Exonération de TVA, article 194 de la directive de la TVA 2006/112/EC
        <br><br>
        Adresse de courrier électronique : hello@vidoleo.com</p>
    </div>
  </section>
</main>
