<main>
  <div class="avis-clients">
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-half-line"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>        <div class="celebrity-feedbacks-item flex">
    <div class="celebrity-feedbacks-item-stars flex">
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-fill"></i>
      <i class="ri-star-half-line"></i>
    </div>
    <h4>Par Lino et D**** - 28 août 2022</h4>
    <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
  </div>
    <div class="celebrity-feedbacks-item flex">
      <div class="celebrity-feedbacks-item-stars flex">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
      <h4>Par Lino et D**** - 28 août 2022</h4>
      <p>Vidéo parfaite, elle en a pleuré de joie merci elo!</p>
    </div>
  </div>

</main>
