<header class="">
  <nav class="navBar flex ">
    <div id="nav__toggle" (click)="toggleMenu()">
      <i id="nav__toggle-icon" class="ri-menu-2-line"></i>
    </div>
    <img class="visitor-logo" [routerLink]="'/'" ngSrc="../assets/img/logo1.jpg" alt="" height="653" width="966">
    <div class="flex nav__list">
      <ul class="menu_items flex-c-s">
        <li class="nav__item site-name"><a class="nav__link" [routerLink]="'/'">Accueil</a></li>
        <li class="nav__item has-submenu">
          <div class="flex nav_link_icon">
            <a class="nav__link cursor-pointer"  (click)="clickOnHasSubmenuIcon()">
              Categories
            </a>
            <i id="category-icon" (click)="clickOnHasSubmenuIcon()" class="ri-arrow-right-s-line cursor-pointer"></i>
          </div>

          <ul class="sub-menu" *ngIf="categories$ | async as categories">
            <li  (click)="goToCategory(category.slug)" class="sub-menu__item cursor-pointer" *ngFor="let category of categories">
              <a >{{category.name}}</a>
            </li>

          </ul>

        </li>
        <li class="nav__item"><a class="nav__link" [routerLink]="'/for-compagnies'">Pour les entreprises</a></li>
        <li class="nav__item"><a class="nav__link" [routerLink]="'/comment-ca-marche'">Comment ça marche</a></li>
      </ul>

      <div id="close-icon"  (click)="toggleMenu()">
        <i class="ri-close-line"></i>
      </div>
    </div>
    <div class="search__bar">
      <button (click)="applyFilter()">
        <i class="ri-search-line"></i>
      </button>
      <label>
        <input  [(ngModel)]="keyWorld" (keyup)="handleKeyUp($event)" type="text" placeholder="Recherche">
      </label>

    </div>
    <div  class="user__account flex cursor-pointer avatar " (click)="showDropdown()">
      <div class="dropdown cursor-pointer"   >
        <div class="flex" >
          <i class="ri-user-line "></i>
          <p class="user__account--text">
            <a *ngIf="!isLogged()">Se connecter</a>
            <a *ngIf="isLogged()">Mon Compte</a>
          </p>
        </div>
        <div class="dropdown-content hide" *ngIf="isLogged()">
          <a [routerLink]="['client/profil']">Profile</a>
          <a [routerLink]="['client/demandes']">Mes Demandes</a>
          <a (click)="logout()">Deconnexion</a>
        </div>
        <div class="dropdown-content hide" *ngIf="!isLogged()">
          <a [routerLink]="['auth/se-connecter']">Se Connecter </a>
          <a [routerLink]="['auth/s-inscrire']">Créer un compte</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet  ></router-outlet>
</main>
<!--FOOTER -->
<footer class="">
  <div class="footer-group-1  container grid">
    <div class="subscribe">
      <div class="subscribe__inner">
        <div class="subscribe__inner-title">
          <h4 >Abonnez vous à notre newsletter</h4>
          <p class="mt-0-5">Soyez les premiers à être informés des nouvelles stars et des meilleures offres sur Vidoleo
          </p>
        </div>
        <div class="subscribe__inner-form">
          <form action="">
            <label>
              <input type="text" placeholder="Enter your email">
            </label>
            <button class="subscribe__inner-form-submit" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="subscribe__social flex">
        <div class="subscribe__social-item">
          <a href="#"><i class="ri-facebook-circle-line"></i></a>
        </div>
        <div class="subscribe__social-item">
          <a href="#"><i class="ri-twitter-line"></i></a>
        </div>
        <div class="subscribe__social-item">
          <a href="#"><i class="ri-instagram-line"></i></a>
        </div>
        <div class="subscribe__social-item">
          <a href="#"><i class="ri-linkedin-box-line"></i></a>
        </div>
      </div>

    </div>
    <div class="footer-item-2 flex">
      <div class="footer-item-2-item ">
        <p>Prêt à devenir un talent sur Afroframe ?</p>
        <a class="became-celebrity" [routerLink]="'devenir-createur'">Devenir une célébrité </a>
      </div>
      <div class="footer-item-2-item" *ngIf="!isLogged()">
        <p>Vous avez un compte ?</p>
        <a class="became-celebrity" [routerLink]="'auth/se-connecter'">Se Connecter</a>
      </div>
      <div class="footer-item-2-item" *ngIf="isLogged()">
        <a class="became-celebrity" (click)="logout()">Deconnexion</a>
      </div>
    </div>
  </div>
  <div class="footer-group-2 container">
    <div class="footer-tem-3 ">
      <div class="footer_item_3-info mt-1">
        Pour toute autre information contactez-nous : <a href="mailto:hello@afroframe.com">hello@afroframe.com</a>
      </div>
      <div class="footer_item_3-pages flex">
        <a [routerLink]="'/faqs'" >Faq</a>
        <a [routerLink]="'/mentions-legales'" >Mentions Légales</a>
        <a [routerLink]="'/cgu-et-confidentialite'" >CGV & CGU</a>
        <a [routerLink]="'/rgpd'" >RGPD</a>
        <a [routerLink]="'/avis'" >Avis Clients</a>
      </div>
    </div>
    <div class="footer_item_3-copyright">
      <p>© 2023 Afroframe. All rights reserved.</p>
    </div>
  </div>


</footer>
