<main>
  <section class="form__card flex">
    <h4 class="form__card-title">Changer de Mot de passe</h4>
    <div class="">
      <p class="mt-1">
         Changer votre mot de passe
      </p>
    </div>
    <form  [formGroup]="changePasswordForm"  (ngSubmit)="changePasswordForm.valid && submit()" class="form__login mt-1">
      <div class="form__group">
        <label  for="oldPassword" >Votre Adresse mail</label>
        <input [formControlName]="'password'" id="oldPassword" type="password" placeholder="Ancien">
      </div>
      <div class="form__group">
        <label  for="newPassword" >Votre Adresse mail</label>
        <input [formControlName]="'password_confirmation'" id="newPassword" type="password" placeholder="New">
      </div>

      <div class="form__group">
        <button type="submit" [ngClass]="changePasswordForm.invalid ? 'button-disable-color':''" [disabled]="changePasswordForm.invalid" *ngIf="!isLoading"  class="form__button">Reinitialiser votre mot de passe</button>
      </div>
    </form>
  </section>
</main>
