<main >
  <section class="container">
    <div class="form__card">
      <h4 class="form__card-title">Tes demandes de video</h4>
      <div class="client-request-status-list mt-1 flex">
        <button class="client-request-status-list-item client-request-status-list-item-active ">
          Tous
        </button>
        <button class="client-request-status-list-item">
          Réalisés
        </button>
        <button class="client-request-status-list-item">
          En cours
        </button>
        <button class="client-request-status-list-item">
          Déclinés
        </button>
      </div>
    </div>

    <div class="client-request-content container grid mt-1">
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <a href="resquest-details.html" class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </a>

        </div>


      </div>
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <button class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </button>

        </div>


      </div>
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <button class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </button>

        </div>


      </div>
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <button class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </button>

        </div>


      </div>
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <button class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </button>

        </div>


      </div>
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <button class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </button>

        </div>


      </div>
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <button class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </button>

        </div>


      </div>
      <div class="client-request-item flex-c-s card">
        <div class="author flex">
          <img width="50px" src="assets/img/1.jpg" alt="">
          <div class="author-info flex-c-s">
            <h3 class="client-request-item__content__author__name">NoisyDeo</h3>
            <p class="client-request-item__content__author__titre">Acteurs dans les in</p>
          </div>
        </div>
        <div class="client-request-item__info">
          <div class="client-request-item__info__content">
            <h4 class="client-request-item__info__content__title">En Cours</h4>
            <p class="client-request-item__info__content__description">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Adipisci, quae.</p>
          </div>
          <div class="client-request-item__info__status">
            <p class="client-request-item__info__status__text">En cours</p>
          </div>
          <button class="client-request-item-button flex">
            <i class="ri-arrow-right-s-line"></i>
            Details
          </button>

        </div>


      </div>
    </div>

  </section>

</main>
