<main >
  <ng-container *ngIf="demands$ | withLoading | async as demandsWithPagination">
    <ng-template [ngIf]="demandsWithPagination.value" >
      <section class="container">
        <div class="form__card">
          <h4 class="form__card-title">Tes demandes de video</h4>
          <div class="client-request-status-list mt-1 flex">
            <button (click)="filter(statusElement.value)" *ngFor="let statusElement of status " [ngClass]="selectedValue==statusElement.value? 'client-request-status-list-item-active ':'' " class="client-request-status-list-item ">
              {{statusElement.viewValue}}
            </button>
          </div>
        </div>

        <div class="client-request-content container grid mt-1">
          <demand-client-card *ngFor="let demand of demandsWithPagination.value.data" [demand]="demand"></demand-client-card>
        </div>

        <section class="pagination grid ">
          <div class="pagination__container">
            <div  class="pagination__item   flex cursor-pointer" >
              <i class="pagination__link ri-arrow-left-circle-line" (click)="pageChange(demandsWithPagination.value.meta.current_page-1)"  [ngClass]=" demandsWithPagination.value.meta.current_page == 1 ? 'pagination-disable-color' : ''"></i>
            </div>
            <div class="pagination-page">
              <span>Page {{demandsWithPagination.value.meta.current_page}} sur {{demandsWithPagination.value.meta.last_page}}</span>
            </div>
            <div class="pagination__item  flex cursor-pointer ">
              <i class=" pagination__link  ri-arrow-right-circle-line"  (click)="pageChange(demandsWithPagination.value.meta.current_page+1)"  [ngClass]=" demandsWithPagination.value.meta.current_page == demandsWithPagination.value.meta.last_page ? 'pagination-disable-color' : ''"></i>
            </div>
          </div>
        </section>

      </section>
    </ng-template>
    <ng-template [ngIf]="demandsWithPagination.error" ></ng-template>
    <ng-template [ngIf]="demandsWithPagination.loading" ></ng-template>
  </ng-container>

</main>
