<main>
  <section class="form__card flex">
    <h4 class="form__card-title">Bienvenue sur Cameo</h4>
    <p>
      Réserve des dédicaces vidéo personnalisées réalisées par tes célébrités préférées.        </p>
    <button class="facebook-login__button flex">
      <i class="ri-facebook-fill"></i>
      <span>Se Connecter Avec Facebook</span>
    </button>

    <div class="form-divider flex">
      <div class="form_divider-item"></div>
      <div class="form_divider-item-text">Ou continuer avec l’adresse e-mail</div>
      <div class="form_divider-item"></div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && registerFormSubmit()" class="form__login">
      <div class="form__group">
        <label >Nom </label>
        <input [formControlName]="'last_name'" type="text" placeholder="Nom">
      </div>
      <div class="form__group">
        <label >Prénom</label>
        <input [formControlName]="'first_name'" type="text" placeholder="Prénoms">
      </div>
      <div class="form__group">
        <label >Email</label>
        <input [formControlName]="'email'" type="email" placeholder="Email">
      </div>
      <div class="form__group">
        <label >Mot de Passe</label>
        <input [formControlName]="'password'" type="password" placeholder="Mot de Passe">

      </div>
      <div class="form__group">
        <label >Confirmer Mot de Passe</label>
        <input [formControlName]="'confirmPassword'" type="password" placeholder="Mot de Passe">
      </div>
      <div class="form__group">
        <label >Code d’invitation (facultatif)</label>
        <input type="text" placeholder="Mot de Passe">
      </div>
      <div class="form__group " >
        <button [disabled]="registerForm.invalid  && !validatePassword()" [ngClass]="(registerForm.invalid  || !validatePassword()) ? 'button-disable-color':''" *ngIf="!isLoading" type="submit" class="form__button">Créer un compte</button>
      </div>
      <div class="">
        <input type="checkbox">
        <label>Tenez-moi au courant des offres exclusives de Cameo, des mises à jour et d’autres actus ! Tu peux te désinscrire à tout moment.</label>
      </div>
      <div class="">
        <a [routerLink]="'/auth/se-connecter'" class="forgot__password">Tu as déjà un compte ? Connecte-toi</a>
      </div>
    </form>
  </section>
</main>
