<main class="container">
  <section class="request-details-card flex-c-s ">
    <div class="">
      <h5 class="form__card-title">Details de la demande</h5>
      <div class="flex-c-s mt-1">
        <p>Talend demandé</p>
        <h4>{{demand.creatorOccasionType.creator.titre}}</h4>
      </div>

      <div class="flex-c-s mt-1">
        <p>Video pour</p>
        <h4>{{demand.receiver}}</h4>
      </div>

      <div class="flex-c-s mt-1" *ngIf="demand.options">
        <p>Options </p>
        <h4 *ngFor="let option of demand.options" >{{option.name}}</h4>
      </div>
      <div class="flex-c-s mt-1">
        <h4>Instruction </h4>
        <p class="flex-c-s ">
          {{demand.message}}
        </p>
      </div>
      <div *ngIf="videoVisible" class="flex-c-s mt-1">
        <h4>Commentaire</h4>
        <div *ngIf="demand.comment">
          <textarea name="" id="" cols="40" rows="5" disabled>{{demand.comment.body}}</textarea>
          <div class="rating">
            <ng-container *ngFor="let i of stars">
              <i class="fa-solid fa-star" [ngClass]="{'active-star':i<=rating}"></i>
            </ng-container>
          </div>
        </div>
        
        <form method="post" *ngIf="!demand.comment" [formGroup]="commentForm" (ngSubmit)="commentForm.valid && onFormSubmit()">
          <textarea name="" id="" cols="40" rows="5" formControlName="body"
          [ngClass]="{
            'is-valid':commentForm.get('body').valid && (commentForm.get('body').touched||commentForm.get('body').dirty),
            'is-invalid':commentForm.get('body').invalid && (commentForm.get('body').touched||commentForm.get('body').dirty)
          }"
          ></textarea>
          <div class="text-danger mt-2" *ngIf="commentForm.get('body').invalid && (commentForm.get('body').touched||commentForm.get('body').dirty)">
            <span class="error-span" *ngIf="commentForm.get('body').errors['required']">Le champ est obligatoire</span>
          </div>
          <div class="rating">
            <ng-container *ngFor="let i of stars">
              <i class="fa-solid fa-star" (click)="updateRating(i)" [ngClass]="{'active-star':i<=rating}"></i>
            </ng-container>
          </div>
          <button class="btn btn-submit" type="submit" [disabled]="commentForm.invalid">Soumettre son avis</button> 
        </form>
        
      </div>
    </div>
    <div class="">
      <h6 class="form__card-title">Paiement</h6>
      <div class="flex-c-s mt-1">
        <p>Total</p>
        <h4>{{demand.price}} FCFA</h4>
      </div>

      <div class="flex-c-s mt-1">
        <p>Etat payment</p>
        <h4>{{demand.status}}</h4>
      </div>

      <div class="flex-c-s mt-1">
        <p>Moyen de paiement </p>
        <h4> {{demand.payment.type}}</h4>
      </div>

      <div class="flex-c-s mt-1">
        <p>Moyen de paiement disponible</p>
        <h4>Wave, orange money, CB </h4>
      </div>

      <div class="flex-c-s mt-1">
        <h4>Actions </h4>
        <div class="flex ">
          <button *ngIf="demand.status=='pending'" (click)="makePayment()" class="btn btn--primary">Payer</button>
          <button *ngIf="demand.status=='pending'" class="btn btn--primary">Annuler</button>
        </div>
      </div>
      <br>
      <div *ngIf="videoVisible" class="flex-c-s">
        <p>Vidéo demandée</p>
        <video width="330"  height="300" controls>
          <source [src]="baseUrl" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

    </div>


  </section>
</main>
