<main class="container">
  <section class="request-details-card flex-c-s " *ngIf="demand$ | async as dmnd">
    <div class="" >
      <h5 class="form__card-title">Details de la demande</h5>
      <div class="flex-c-s mt-1" *ngIf="dmnd.creatorOccasionType.creator" >
        <p>Talend demandé</p>
        <h4>{{dmnd.creatorOccasionType.creator.titre}}</h4>
      </div>

      <div class="flex-c-s mt-1" *ngIf="dmnd.receiver">
        <p>Video pour</p>
        <h4>{{dmnd.receiver}}</h4>
      </div>

      <div class="flex-c-s mt-1" *ngIf="dmnd.sender">
        <p>Demandé par </p>
        <h4>{{dmnd.sender}} </h4>
      </div>
      <div class="flex-c-s mt-1" *ngIf="dmnd.options">
        <p>Options </p>
        <h4 *ngFor="let option of dmnd.options" >{{option.name}}</h4>
      </div>
      <div class="flex-c-s mt-1" *ngIf="dmnd.message">
        <h4>Instruction </h4>
        <p class="flex-c-s ">
          {{dmnd.message}}
        </p>
      </div>
    </div>
    <div class="">
      <h6 class="form__card-title">Paiement</h6>
      <div class="flex-c-s mt-1 " *ngIf="dmnd.price">
        <p>Total</p>
        <h4>{{dmnd.price}} FCFA</h4>
      </div>

      <div class="flex-c-s mt-1" *ngIf="dmnd.status">
        <p>Etat payment</p>
        <h4>{{dmnd.status}}</h4>
      </div>

      <div class="flex-c-s mt-1" *ngIf="dmnd.payment">
        <p>Moyen de paiement </p>
        <h4> {{dmnd.payment.type}}</h4>
      </div>

      <div class="flex-c-s mt-1">
        <p>Moyen de paiement disponible</p>
        <h4>Wave, orange money, CB </h4>
      </div>

      <div class="flex-c-s mt-1">
        <h4>Actions </h4>
        <div class="flex ">
          <button (click)="makePayment()" class="btn btn--primary">Payer</button>
          <button class="btn btn--primary">Annuler</button>
        </div>
      </div>

    </div>


  </section>
</main>
