<main>

  <!--  breadcrumb-->
  <section class="breadcrumb container flex">
    <div class="breadcrumb-content flex">
      <div class="breadcrumb-links flex">
        <a href="index.html" class="breadcrumb-links-item" >Accueil</a>
        <span>/</span>
        <a href="" class="breadcrumb-links-item">Celebrities</a>
      </div>
      <div class="breadcrumb-filter-options flex" >
        <button id="hideFilter"> Sort & Filtres </button>
        <button id="clearFilter"> Effacer les filtres </button>
      </div>
    </div>
  </section>

  <!-- NEWS IN CATEGORY-->
  <section class="container category">
    <h3 class="category-title">New in Comedy</h3>
    <div class="swiper mySwiper">
      <div class="authors_container swiper-wrapper">
        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/2.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>
        </div>

        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/1.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>James Bond</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>
        </div>

        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/3.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>
        </div>
        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/4.png" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>
        </div>
        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/5.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>
        </div>

        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/2.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>
        </div>

        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/1.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>James Bond</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>

        </div>

        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/3.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>

        </div>

        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/4.png" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>

        </div>

        <div class="author__card swiper-slide">
          <a href="author.html">
            <div class="author__card-img">
              <img src="assets/img/5.jpg" alt="">
            </div>
            <div class="author__card-info">
              <div class="author__card-info-title">
                <h3>John Doe</h3>
              </div>
              <div class="author__card-info-subtitle">
                <span>Actor - Harry Potter</span>
              </div>
              <div class="author__card-info-price">
                <span>From $ 100</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- ALL IN CATEGORY-->
  <section class="all-category container">
    <div class="all-category-title">
      <h3>All in category</h3>
    </div>
    <div class="all-category-celebrities grid">
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/2.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>
      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/1.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>James Bond</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>
      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/3.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>
      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/4.png" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>
      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/5.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>
      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/2.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>
      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/1.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>James Bond</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>

      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/3.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>

      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/4.png" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>

      </div>
      <div class="author__card ">
        <a href="author.html">
          <div class="author__card-img">
            <img src="assets/img/5.jpg" alt="">
          </div>
          <div class="author__card-info">
            <div class="author__card-info-title">
              <h3>John Doe</h3>
            </div>
            <div class="author__card-info-subtitle">
              <span>Actor - Harry Potter</span>
            </div>
            <div class="author__card-info-price">
              <span>From $ 100</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="pagination grid ">
    <div class="pagination__container">
      <div class="pagination__item flex">
        <i class="pagination__link ri-arrow-left-circle-line "></i>
      </div>
      <div class="pagination-page">
        <span>Page 1 sur 11</span>
      </div>
      <div class="pagination__item flex">
        <i class=" pagination__link ri-arrow-right-circle-line"></i>
      </div>
    </div>
  </section>



</main>
