<main>
  <section class="search__container">
    <!--   START  FILTER HEADER-->
    <div class="search__header container  justify-space-between flex">
      <div class="search__header-text">
        <h3>Resultats pour</h3>
        <p> ''Search for your favorite movies''</p>
      </div>
      <div class="search__header-buttons  flex">
        <button id="show-filter-mobile" class="show__filter-button">
          Afficher les filtres
        </button>
        <button class="hide__filter-button">
          Masquer les filtres
        </button>
      </div>
    </div>
    <!--   END  FILTER HEADER-->

    <!--   START  FILTER  CONTENT-->
    <div class="search__filter-content container  flex">

      <!--   START  FILTER  CONTENT FILTERS-->
      <div class="search__filter-content-filters hide">
        <i id="hide-filter-mobile" class="ri-close-line search__filter-content-filters-close-button"></i>

        <div class="search__filter-content-filters-container ">

          <div class="search__filter-content-filters-title">
            <h3>Filtres</h3>
          </div>
          <form action="">
            <!--     START FILTER ITEM : TRI-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Trier par
              </div>
              <div class="filter-item">
                <div class="search__radio-item">
                  <input type="radio"  name="drone" value="huey" checked>
                  <label >Recommandé</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="drone" value="huey">
                  <label >Prix : décroissant</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="drone" value="huey">
                  <label >Prix : croissant</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio" name="drone" value="huey">
                  <label >Nombre d'avis</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="drone" value="huey">
                  <label >Les plus récemts</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="drone" value="huey">
                  <label >Alphabétiques</label>
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

            <!--     START FILTER ITEM : 24H-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Envoi dans les 24h
              </div>
              <div class="filter-item">
                <div class="search__checkbox-item">
                  <input type="checkbox" id="24h" name="drone" value="huey" >
                  <label >
                        <span class="checkbox__icon">
                           <i class="ri-flashlight-fill"></i>
                        </span>
                    <span class="checkbox__text">Envoi dans les 24h</span>
                  </label>
                </div>

              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

            <!--     START FILTER ITEM : 24H-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Pour les entreprises
              </div>
              <div class="filter-item">
                <div class="search__checkbox-item">
                  <input type="checkbox" id="bussiness" name="drone" value="huey" >
                  <label >
                        <span class="checkbox__icon">
                           <i class="ri-briefcase-line"></i>
                        </span>
                    <span class="checkbox__text">Envoi dans les 24h</span>
                  </label>
                </div>

              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

            <!--     START FILTER ITEM : PRICE-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Prix
              </div>
              <div class="filter-item">
                <div class="search__checkbox-item">
                  <input placeholder="0$" class="filter-item-price" type="number" name="min" id="min">
                  <input placeholder="+1000$" class="filter-item-price" type="number"  name="min" id="max">
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

            <!--     START FILTER ITEM : Note Moyenne-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Note Moyenne
              </div>
              <div class="filter-item">
                <div class="search__radio-item">
                  <input type="radio" id="n4" name="note" value="4" checked>
                  <label >4 étoiles et plus</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio" id="n3" name="note" value="3">
                  <label >3 étoiles et plus</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio" id="n2" name="note" value="2">
                  <label >2 étoiles et plus</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio" id="n1" name="note" value="1">
                  <label >1 étoiles et plus</label>
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

            <!--     START FILTER ITEM : nombre d'avis-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Nom d'avis
              </div>
              <div class="filter-item">
                <div class="search__radio-item">
                  <input type="radio"  name="avis" value="1000" checked>
                  <label >1000+</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="avis" value="500">
                  <label >500+</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="avis" value="200">
                  <label >200+</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio" name="avis" value="100">
                  <label >100+</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="avis" value="50">
                  <label >50+</label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="avis" value="25">
                  <label >25+</label>
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->


            <!--     START FILTER ITEM : REACTIVITÉ-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Réactivité
              </div>
              <div class="filter-item">
                <div class="search__radio-item">
                  <input type="radio"  name="reactivite" value="1000" checked>
                  <label > < 1 jour </label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="reactivite" value="500">
                  <label > < 2 jour </label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="reactivite" value="200">
                  <label >< 3 jour </label>
                </div>

                <div class="search__radio-item">
                  <input type="radio" name="reactivite" value="100">
                  <label >< 4 jour </label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="reactivite" value="50">
                  <label >< 5 jour </label>
                </div>

                <div class="search__radio-item">
                  <input type="radio"  name="reactivite" value="25">
                  <label >< 6 jour </label>
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

          </form>
        </div>
        <div class="search__filter-content-filters-btns">
          <button class="filter-btn btn--secondary" id="reset-btn">Réinitialiser</button>
          <button class="filter-btn btn--primary" id="filter-btn">Filtrer</button>
        </div>

      </div>
      <!--  END  FILTER  CONTENT FILTERS-->


      <!--  START FILTER  CONTENT RESULTS-->
      <div class="search__filter-content-results">
        <!-- ALL IN CATEGORY-->
        <section class="all-category">
          <div class="all-category-title">
            <h3>All in category</h3>
          </div>
          <div class="all-category-celebrities grid">
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/2.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/1.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>James Bond</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/3.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/4.png" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/5.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/2.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/1.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>James Bond</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>

            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/3.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>

            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/4.png" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>

            </div>
            <div class="author__card ">
              <a href="author.html">
                <div class="author__card-img">
                  <img src="assets/img/5.jpg" alt="">
                </div>
                <div class="author__card-info">
                  <div class="author__card-info-title">
                    <h3>John Doe</h3>
                  </div>
                  <div class="author__card-info-subtitle">
                    <span>Actor - Harry Potter</span>
                  </div>
                  <div class="author__card-info-price">
                    <span>From $ 100</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>

        <section class="pagination grid ">
          <div class="pagination__container">
            <div class="pagination__item flex">
              <i class="pagination__link ri-arrow-left-circle-line "></i>
            </div>
            <div class="pagination-page">
              <span>Page 1 sur 11</span>
            </div>
            <div class="pagination__item flex">
              <i class=" pagination__link ri-arrow-right-circle-line"></i>
            </div>
          </div>
        </section>
      </div>
      <!--  END FILTER  CONTENT RESULTS-->
    </div>
    <!--   END  FILTER CONTENT-->


  </section>
</main>
