<main>
  <section class="search__container">
    <!--   START  FILTER HEADER-->
    <div class="search__header container  justify-space-between flex">
      <div class="search__header-text">
        <h3>Resultats pour</h3>
        <p>Search for your favorite movies</p>
      </div>
      <div class="search__header-buttons  flex">
        <button  (click)="hideAndShow()" id="show-filter-mobile" class="show__filter-button">
          Afficher les filtres
        </button>
        <button class="hide__filter-button">
          Masquer les filtres
        </button>
      </div>
    </div>
    <!--   END  FILTER HEADER-->

    <!--   START  FILTER  CONTENT-->
    <div class="search__filter-content container  flex">

      <!--   START  FILTER  CONTENT FILTERS-->
      <div class="search__filter-content-filters hide">
        <i (click)="hideAndShowMobile()" id="hide-filter-mobile" class="ri-close-line search__filter-content-filters-close-button"></i>

        <div class="search__filter-content-filters-container ">

          <div class="search__filter-content-filters-title">
            <h3>Filtres</h3>
          </div>
          <form action="" [formGroup]="filterForm">
            <!--     START FILTER ITEM : TRI-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Trier par
              </div>
              <div class="filter-item">
                <div class="search__radio-item" *ngFor="let trieElement of trieData">
                  <input type="radio"(click)="TriePar(trieElement.value)"  [id]="trieElement.value"  formControlName="triType" [value]="trieElement.value" >
                  <label  [for]="trieElement.value">{{trieElement.name}}</label>
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

            <!--     START FILTER ITEM : PRICE-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Prix
              </div>
              <div class="filter-item">
                <div class="search__checkbox-item">
                  <input placeholder="0 FCFA" class="filter-item-price" type="number"  formControlName="minPrice" id="min">
                  <input placeholder="+1000$" class="filter-item-price" type="number"   formControlName="maxPrice" id="max">
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

            <!--     START FILTER ITEM : Note Moyenne-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Note Moyenne
              </div>
              <div class="filter-item">
                <div class="search__radio-item" *ngFor="let star of trieData2">
                  <input  formControlName="stars" (click)="TriePar(star.value)" type="radio" [id]="star.value"  [value]="star.value" >
                  <label [for]="star.value" >{{star.name}}</label>
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->


            <!--     START FILTER ITEM : REACTIVITÉ-->
            <div class="search__filter-content-filters-item">
              <div class="search__filter-content-filters-item-title">
                Réactivité
              </div>
              <div class="filter-item">
                <div class="search__radio-item" *ngFor="let timeReponse of trieData1">
                  <input type="radio" formControlName="responseTime"  [id]="timeReponse.value"[value]="timeReponse.value" >
                  <label  [for]="timeReponse.value"> {{timeReponse.name}} </label>
                </div>
              </div>
              <div class="filter__divider"></div>
            </div>
            <!--     END FILTER ITEM-->

          </form>
        </div>
        <div class="search__filter-content-filters-btns">
          <button class="filter-btn btn--secondary" id="reset-btn">Réinitialiser</button>
          <button class="filter-btn btn--primary" id="filter-btn">Filtrer</button>
        </div>

      </div>
      <!--  END  FILTER  CONTENT FILTERS-->


      <!--  START FILTER  CONTENT RESULTS-->
      <div class="search__filter-content-results">
        <!-- ALL IN CATEGORY-->
        <ng-container *ngIf="creators$ | withLoading | async as creatorsWithPagination">
          <ng-template [ngIf]="creatorsWithPagination.value">
            <ng-template [ngIf]="creatorsWithPagination.value.data.length > 0 ">
              <section class="all-category">
                <div class="all-category-title">
                  <h3>Recherche</h3>
                </div>
                <div class="all-category-celebrities grid">
                  <creator-card *ngFor="let creator of creatorsWithPagination.value.data" [creator]="creator"></creator-card>
                </div>
              </section>
              <section class="pagination grid ">
                <div class="pagination__container">
                  <div  class="pagination__item   flex cursor-pointer" >
                    <i class="pagination__link ri-arrow-left-circle-line" (click)="pageChange(creatorsWithPagination.value.meta.current_page-1)"  [ngClass]=" creatorsWithPagination.value.meta.current_page == 1 ? 'pagination-disable-color' : ''"></i>
                  </div>
                  <div class="pagination-page">
                    <span>Page {{creatorsWithPagination.value.meta.current_page}} sur {{creatorsWithPagination.value.meta.last_page}}</span>
                  </div>
                  <div class="pagination__item  flex cursor-pointer ">
                    <i class=" pagination__link  ri-arrow-right-circle-line"  (click)="pageChange(creatorsWithPagination.value.meta.current_page+1)"  [ngClass]=" creatorsWithPagination.value.meta.current_page == creatorsWithPagination.value.meta.last_page ? 'pagination-disable-color' : ''"></i>
                  </div>
                </div>
              </section>
            </ng-template>
            <ng-template [ngIf]="creatorsWithPagination.value.data.length == 0 ">

            </ng-template>
          </ng-template>
        </ng-container>

      </div>
      <!--  END FILTER  CONTENT RESULTS-->
    </div>
    <!--   END  FILTER CONTENT-->


  </section>
</main>
