<main>
  <section class="form__card flex">
    <h4 class="form__card-title">Mot de passe oublier</h4>
    <div class="">
      <p class="mt-1">
        Un nouveau mot de passe vous sera envoyé par email.
      </p>
    </div>
    <form  [formGroup]="forgotPasswordForm"  (ngSubmit)="forgotPasswordForm.valid && submit()" class="form__login mt-1">
      <div class="form__group">
        <label  for="email" >Votre Adresse mail</label>
        <input [formControlName]="'email'" id="email" type="email" placeholder="Email">
      </div>
      <div class="form__group">
        <button type="submit" [ngClass]="forgotPasswordForm.invalid ? 'button-disable-color':''" [disabled]="forgotPasswordForm.invalid" *ngIf="!isLoading"  class="form__button">Reinitialiser votre mot de passe</button>
      </div>
      <div class="">
        <a [routerLink]="'/auth/se-connecter'" class="forgot__password">Se connecter</a>
      </div>
      <div class="">
        <a [routerLink]="'/auth/s-inscrire'" class="forgot__password">Tu n’as pas de compte ? S'inscrire?</a>
      </div>
    </form>
  </section>
</main>
