<main>
  <section class="faq">
    <h3>Questions Fréquentes</h3>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 1</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
      <div class="faq-item-divider mt-1">  </div>
    </div>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 2</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
      <div class="faq-item-divider mt-1">  </div>
    </div>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 3</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
      <div class="faq-item-divider mt-1">  </div>
    </div>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 4</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
      <div class="faq-item-divider mt-1">  </div>
    </div>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 5</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
      <div class="faq-item-divider mt-1">  </div>
    </div>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 6</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
      <div class="faq-item-divider mt-1">  </div>
    </div>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 7</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
      <div class="faq-item-divider mt-1">  </div>
    </div>
    <div class="faq-item">
      <h4 class="faq-item-question mt-1">Question no 8</h4>
      <div class="faq-item-response">
        Vidoleo permet aux fans de réserver une vidéo personnalisée de leurs célébrités préférées. Notre mission est de créer un moment unique et authentique avec une célébrité.
      </div>
    </div>
  </section>
</main>
