<main>
  <section class="form__card">
    <h4 class="form__card-title">Postule pour faire partie des talents Cameo !</h4>
    <p>
      Si tu as de nombreux fans et que tu souhaites devenir un talent Cameo, tu peux postuler ici et nous te contacterons dans les 72 heures.
    </p>
    <form action="" class="register__login">
      <div class="form__group">
        <label >Nom * </label>
        <input type="text" placeholder="Esse jacques">
      </div>
      <div class="form__group">
        <label >Adresse Email *</label>
        <input type="email" placeholder="nom@exemple.com">
      </div>
      <div class="form__group">
        <label >Numero de téléphone * </label>
        <input type="text" placeholder="555-555-555">
      </div>
      <div class="form__group">
        <label  for="socialMedia">Social Media * </label>
        <select id="socialMedia" name="social">
          <option value="">Facebook</option>
          <option value="">Instagram</option>
          <option value="">Twitter</option>
          <option value="">Snapchat</option>
          <option value="">Linkedin</option>
        </select>
      </div>

      <div class="form__group">
        <label >Ton nom d'utilisateur * </label>
        <input type="text" placeholder="Esse jacques">
      </div>
      <div class="form__group">
        <label >Combien de personnes te suivent ? *</label>
        <input type="text" placeholder="400k">
      </div>
      <div class="form__group">
        <label >Y a-t-il autre chose que nous devrions savoir sur toi ?</label>
        <textarea maxlength="450"  rows="4" ></textarea>
      </div>
      <div class="form__group">
        <button class="form__button">Envoyer</button>
      </div>
      <div class="remaque">
        <p>Remarque : ton inscription sur Cameo n'est pas automatique. Si tu remplis les conditions d'admissibilité, un représentant des talents te contactera dans les prochains jours pour finaliser ton inscription.</p>
      </div>

    </form>

  </section>

</main>
